* {
  margin: 0;
  padding: 0;
  font-family: 'Merienda';
  
}

.header {
  background-color: rgb(36, 29, 29);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inner_header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  height: 100%;
  width: 1000px;
  font-size: 22px;
  margin-right: 290px;
}

.inner_header h1 {
  color: rgb(151, 211, 74);
}

.header_img img {
  height: 100px;
  width: 170px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
}
.main:hover{
  transform: translate(-.35em) scale(1.02);
}
.main img {
  
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 60%;
}

.calculator_body {
  position: absolute;
  height: 500px;
  width:  350px;
  border-width: 5px;
  border-style: double;
  border-radius: 5%;
  border-color: rgb(151, 211, 74);
  background-color: rgb(36, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 1s ease; 
}



.calculator_body:hover {
  box-shadow: 10px 5px 5px rgb(36, 29, 29);
  transform: translate(-.45em) scale(1.02);
}



.input_screen input {
  height: 50px;
  width: 250px;
  font-size: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
  color: rgb(151, 211, 74);
  border-color: rgb(151, 211, 74);
  background-color: rgb(36, 29, 29);
}



.numbers button {
  margin-top: 5px;
  height: 60px;
  width: 60px;
  font-size: 30px;
  color: rgb(151, 211, 74);
  background-color: rgb(36, 29, 29);
  border-color: rgb(151, 211, 74);
}